@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import './base.css';


#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}



